<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
    {% for dat in data %}
                <h1>tracking raqami => {{dat.data.tracking_number}}</h1>
                <h1>courier => {{dat.data.courier.name}}</h1>
                <h1>courier mamlakat kodi => {{dat.data.courier.country_code}}</h1>
                <h1>oxirgi marta tekshirilgan => {{dat.data.last_check}}</h1>
                <div class="signin-content">
                {% endfor %}
                <h1>KUZATUV</h1>
                {% for ches in check %}
                    <h1>{{ches.time}}    ||      {{ches.status_code}}</h1>
                    <h1>{{status_name}}</h1>
                    <h1>---------------------------------------------------</h1>
                {% endfor %}
                    <div class="signin-form">
                        <h2 class="form-title">Sign up</h2>

                    </div>
                </div>
            </div>
        </section>

    </div>
</html>